body {
    margin: 20px auto;
    padding: 0 10px;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    font-family: 'EB Garamond', serif;
    color: #444;
    background-color: #fdf6e3;
}

h1 {
    line-height: 1.2;
    text-align: center;
}

h2 {
    line-height: 1.2;
    border-bottom: 1px solid #777;
}

a {
    color: inherit;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-decoration-color: #777;
    text-decoration-style: solid;
}

a:hover {
    text-decoration-style: dashed;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

pre {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    background-color: #eee8d5;
    padding: 10px;
    overflow-x: auto;
}

.subtitle {
    font-size: 16px;
    color: #555;
    text-align: center;
    margin-top: 5px;
}

.post-item {
    margin-bottom: 10px;
}
.post-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-title-text {
    flex-grow: 1;
    margin-right: 2em; /* Add a minimum gap between title and date */
}
.post-date {
    color: #888;
    font-variant-numeric: tabular-nums;
}